<app-page-header title="Bobinas">
    <ng-container icon>
        <div class="bg-teal-500 text-white w-15  flex items-center justify-center ">
            <lucide-angular [img]="SpoonIcon"></lucide-angular>
        </div>
    </ng-container>
</app-page-header>

<div class="flex flex-col gap-4 p-4">
    <app-bobinas-filter (filterChange)="onFilterChange($event)"></app-bobinas-filter>

    @if (isLoading()) {
    <div class="flex justify-center items-center py-20">
        <mat-spinner></mat-spinner>
    </div>
    } @else {
    <app-bobinas-list [coils]="coils()" (sortChanged)="onSortChanged($event)"></app-bobinas-list>
    }
</div>