<div class="demo-button-container">
    <button mat-raised-button (click)="addData()" class="demo-button">Add data</button>
    <button mat-raised-button [disabled]="!dataToDisplay.length" (click)="removeData()" class="demo-button">Remove data</button>
</div>

<table class="w-full border-collapse mt-4">
    <thead class="h-16 bg-gray-200">
        <tr class="uppercase text-sm">
            <th class="font-normal text-slate-800 text-start">State</th>
            <th class="font-normal text-slate-800 text-start">State</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="h-16 border border-gray-300">Indiana</td>
            <td class="h-16 border border-gray-300">Indianapolis</td>
        </tr>
        <tr>
            <td class="h-16 border border-gray-300">Ohio</td>
            <td class="h-16 border border-gray-300">Columbus</td>
        </tr>
        <tr>
            <td class="h-16 border border-gray-300">Michigan</td>
            <td class="h-16 border border-gray-300">Detroit</td>
        </tr>
        <tr>
            <td class="h-16 border border-gray-300">Indiana</td>
            <td class="h-16 border border-gray-300">Indianapolis</td>
        </tr>
        <tr>
            <td class="h-16 border border-gray-300">Ohio</td>
            <td class="h-16 border border-gray-300">Columbus</td>
        </tr>
        <tr>
            <td class="h-16 border border-gray-300">Michigan</td>
            <td class="h-16 border border-gray-300">Detroit</td>
        </tr>
        <tr>
            <td class="h-16 border border-gray-300">Indiana</td>
            <td class="h-16 border border-gray-300">Indianapolis</td>
        </tr>
        <tr>
            <td class="h-16 border border-gray-300">Ohio</td>
            <td class="h-16 border border-gray-300">Columbus</td>
        </tr>
        <tr>
            <td class="h-16 border border-gray-300">Michigan</td>
            <td class="h-16 border border-gray-300">Detroit</td>
        </tr>
        <tr>
            <td class="h-16 border border-gray-300">Indiana</td>
            <td class="h-16 border border-gray-300">Indianapolis</td>
        </tr>
        <tr>
            <td class="h-16 border border-gray-300">Ohio</td>
            <td class="h-16 border border-gray-300">Columbus</td>
        </tr>
        <tr>
            <td class="h-16 border border-gray-300">Michigan</td>
            <td class="h-16 border border-gray-300">Detroit</td>
        </tr>
        <tr>
            <td class="h-16 border border-gray-300">Indiana</td>
            <td class="h-16 border border-gray-300">Indianapolis</td>
        </tr>
        <tr>
            <td class="h-16 border border-gray-300">Ohio</td>
            <td class="h-16 border border-gray-300">Columbus</td>
        </tr>
        <tr>
            <td class="h-16 border border-gray-300">Michigan</td>
            <td class="h-16 border border-gray-300">Detroit</td>
        </tr>
    </tbody>
</table>
