<app-page-header title="Proveedores">
    <ng-container icon>
        <div class="bg-teal-500 text-white w-15  flex items-center justify-center ">
            <span class="material-symbols-outlined">
                package_2
            </span>
        </div>
    </ng-container>
    <ng-container actions>
        <app-button appearance="primary" variant="solid" size="md" (click)="createClicked.emit()">
            <span class="inline-flex items-center gap-2">
                <span class="material-icons">add</span>
                Crear Proveedor
            </span>
        </app-button>
    </ng-container>
</app-page-header>