<app-page-header title="Proveedores">
    <ng-container icon>
        <div class="bg-teal-500 text-white w-15  flex items-center justify-center ">
            <lucide-angular [img]="TruckIcon"></lucide-angular>
        </div>
    </ng-container>
    <ng-container actions>
        <app-button appearance="primary" variant="solid" size="md" (click)="createClicked.emit()">
            <span class="inline-flex items-center gap-1 text-xs md:text-sm md:gap-2">
                <span class="material-icons">add</span>
                <span class="hidden md:block">Crear Proveedor</span>
            </span>
        </app-button>
    </ng-container>
</app-page-header>