<app-table [columns]="columns" [data]="providers()" [initialPageSize]="10" [pageSizeOptions]="[5, 10, 20]"
    [selectableRows]="true" (rowClick)="onProviderClick($event)">
    <!-- custom renderer para la columna 'status' -->
    <ng-template modernTableCell="status" let-row let-value="value">
        <span class="px-2 py-1 text-xs rounded-full" [class.bg-green-600]="value === 'ok'"
            [class.bg-yellow-600]="value === 'pending'" [class.bg-red-600]="value === 'error'">
            {{ value }}
            {{ row | json }}
        </span>
    </ng-template>

    <!-- custom renderer para columna 'actions' -->
    <ng-template modernTableCell="actions" let-row>
        <div class="flex gap-2">
            <button class="cursor-pointer text-shadow-neutral-500 hover:text-neutral-700 rounded"><span
                    class="material-icons-outlined">edit</span></button>
            <button class="cursor-pointer text-shadow-neutral-500 hover:text-neutral-700 rounded"><span
                    class="material-icons-outlined">delete</span></button>
        </div>
    </ng-template>
</app-table>