<h2 mat-dialog-title>Crear Proveedor</h2>
<mat-dialog-content>
    <form [formGroup]="form" class="grid grid-cols-6 gap-4 py-4" (ngSubmit)="submit()">
        <mat-form-field appearance="outline" class="col-span-3">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-3">
            <mat-label>CUIT</mat-label>
            <input matInput formControlName="cuit" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-3">
            <mat-label>IIB</mat-label>
            <input matInput formControlName="iib" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-3">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="address" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-3">
            <mat-label>Razón Social</mat-label>
            <input matInput formControlName="socialReason" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-3">
            <mat-label>Posición frente al IVA</mat-label>
            <mat-select formControlName="ivaPosition">
                <mat-option value="Responsable Inscripto">Responsable Inscripto</mat-option>
                <mat-option value="Consumidor Final">Consumidor Final</mat-option>
                <mat-option value="Monotributo">Monotributo</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-3">
            <mat-label>Convenio</mat-label>
            <input matInput formControlName="convenio" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-3">
            <mat-label>Website</mat-label>
            <input matInput formControlName="website" />
        </mat-form-field>
        <div class="col-span-6">
            <div class="flex flex-row gap-x-2">
                <mat-form-field appearance="outline" class="flex-1">
                    <mat-label>Teléfono principal</mat-label>
                    <input matInput formControlName="phone" />
                </mat-form-field>
                <button type="button" mat-stroked-button color="primary" (click)="addPhone()">Agregar teléfono</button>
            </div>

            <div class="grid grid-cols-12">
                @for (ctrl of otherPhones.controls; track $index; let i = $index) {
                <mat-form-field appearance="outline" class="col-span-11">
                    <mat-label>Teléfono {{ i + 1 }}</mat-label>
                    <input matInput [formControl]="ctrl" />
                </mat-form-field>
                <button type="button" mat-icon-button color="warn" (click)="removePhone(i)">
                    <span class="material-icons">delete</span>
                </button>
                }
            </div>
        </div>

        <div class="col-span-6">
            <div class="flex flex-row gap-x-2">
                <mat-form-field appearance="outline" class="flex-1">
                    <mat-label>Email principal</mat-label>
                    <input matInput formControlName="email" type="email" />
                </mat-form-field>
                <button type="button" mat-stroked-button color="primary" (click)="addEmail()">Agregar email</button>
            </div>
            <div class="grid grid-cols-12">
                @for (ctrl of otherEmails.controls; track $index; let i = $index) {
                <mat-form-field appearance="outline" class="col-span-11">
                    <mat-label>Email {{ i + 1 }}</mat-label>
                    <input matInput [formControl]="ctrl" type="email" />
                </mat-form-field>
                <button type="button" mat-icon-button class="col-span-1" color="warn" (click)="removeEmail(i)">
                    <span class="material-icons">delete</span>
                </button>
                }
            </div>
        </div>

        <!-- Horarios -->
        <div class="col-span-6">
            <h4 class="mb-2">Desde</h4>
            <div formGroupName="since" class="grid grid-cols-2 gap-3">
                <mat-form-field appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput type="number" formControlName="hours" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Minutos</mat-label>
                    <input matInput type="number" formControlName="minutes" />
                </mat-form-field>
            </div>
        </div>
        <div class="col-span-6">
            <h4 class="mb-2">Hasta</h4>
            <div formGroupName="to" class="grid grid-cols-2 gap-3">
                <mat-form-field appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput type="number" formControlName="hours" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Minutos</mat-label>
                    <input matInput type="number" formControlName="minutes" />
                </mat-form-field>
            </div>
        </div>

        <mat-form-field appearance="outline" class="col-span-6">
            <mat-label>Observaciones</mat-label>
            <textarea matInput formControlName="observations"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex flex-row justify-end gap-2">
        <app-button appearance="secondary" (click)="onNoClick()">Cancelar</app-button>
        <app-button appearance="primary" (click)="submit()">Crear</app-button>
    </div>
</mat-dialog-actions>