<app-table [data]="data()" [columns]="columns">
    <!-- Custom renderer for 'actions' column -->
    <ng-template modernTableCell="actions" let-row>
        <div class="flex gap-2 items-center">
            <lucide-angular matTooltip="Descargar etiqueta" (click)="onDownloadLabel(row, $event)" [img]="sendIcon"
                size="16">
            </lucide-angular>
            <lucide-angular matTooltip="Reporte de ensayo" (click)="onDownloadTestReport(row, $event)"
                [img]="flaskConicalIcon" size="16">
            </lucide-angular>
        </div>
    </ng-template>
</app-table>